@import url('https://fonts.googleapis.com/css2?family=Bigelow+Rules&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bigelow+Rules&family=Sofia+Sans:ital,wght@0,1..1000;1,1..1000&display=swap');

body{
    font-family: "Sofia Sans", sans-serif;
    font-size: 20px;
    color: white;
    padding: 0;
    margin: 0;
    background-image: url(./../images/Ressources/background.webp);
    background-size : cover;
}

header{
    background-color: rgba(36, 38, 51, 1);
}

.logoMain{
    display: block;
    width: 215.31px;
    height: 80px;
    margin: auto;
    padding: 10px;
}

nav ul{
    display: flex;
    list-style: none;
    justify-content: space-around;
    background-color: rgba(16, 20, 27, 1);
    margin: 0;
    padding: 10px;
}

nav ul li{
    text-transform: uppercase;
    font-family: "Bigelow Rules", serif;
    font-size: 40px;
    color: white;
}

main{
    display: flex;
    justify-content: space-around;
}

.left{
    width: 563px;
    height: 752px;
    background: linear-gradient(180deg, #433C87 0%, rgba(67, 60, 135, 0) 100%);
}

.logoClub{
    display: block;
    width: 375px;
    height: 171px;
    margin: auto;
    padding-top: 61px;
}

.texteLeft{
    padding-top: 86px;
    margin: auto;
    width: 350px;
    height: 185px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    p{
        text-align: center;
    }
}

.boutonRejoindre{
    display: block;
    background-color: rgba(67, 60, 135, 1);
    border-radius: 30px;
    text-align: center;
    width: 350px;
    height: 74px;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: bold;
    margin-top: 178px;
}